
<div id="profile_card">
    <div id="avatar_name">
      <div>
        <h2>
          <%= @user.first_name %>
            <% if @user.gender == "female"%>
              <i class="fas fa-venus"></i>
            <% else %>
              <i class="fas fa-mars"></i>
            <% end %>
          <br>
          <%= @user.last_name %>
        </h2>
      </div>
      <i class="fas fa-user-circle fa-4x"></i>
      <%# <img id="profile-picture"src="https://www.pinclipart.com/picdir/middle/148-1486972_mystery-man-avatar-circle-clipart.png" alt=""> %>
    </div>
    <div class="flexbox">
      <div>
        <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
        <p><i class="fas fa-phone"></i> +49 01575 8877956</p>
      </div>
      <i id="profile-edit-button" class="fas fa-cog tab-button" onclick="editProfile()"></i>
    </div>
  </div>


<div id="edit-profile-field" class="d-none">
  <h2>Edit Profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>

      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <%# <h3>Cancel my account</h3> %>

  <%# <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete </p> %>
  <%# <%= link_to "Back", :back %>
</div>


<%# THE TAB BUTTONS  %>

<div id="tab-headers">
  <div id="tab-1" onclick="tabOne()" class="select">
    <h4>HOME</h4>
  </div>
  <div id="tab-2" onclick="tabTwo()">
    <h4>REVIEWS</h4>
  </div>
  <div id="tab-3" onclick="tabThree()">
    <h4>BOOKINGS</h4>
  </div>
</div>


<%# tab HTML's %>

<%# home tab HTML%>



<div id="tab-1-content" class="select">
  <div class="tab-card">
    <h2>Latest booking</h2>
      <div class="tab-content-separator"></div>
      <p><%= @user.bookings.last.date_time.strftime('%A, %d %b') %></p>
      <p><%= @user.bookings.last.date_time.strftime('%l:%M %p') %> - <%=  (@user.bookings.last.date_time + @user.bookings.last.duration.minutes).strftime('%l:%M %p') %></p>
      <p><%= @user.bookings.last.plug.location%></p>
      <p>Write Review + <i class="far fa-keyboard"></i></p>
  </div>
</div>


<%# Reviewstab HTML %>

<div id="tab-2-content">
  <div class="tab-card">
    <h3>Written Reviews <i class="fas fa-paper-plane"></i></h3>
      <% @user.reviews.each do |review| %>
        <div class="tab-content-separator"></div>
        <% num = review.rating.to_i %>
        <p>
          <% num.times do %>
            <i class="fas fa-star small "></i>
          <% end %>
          <% (5-num).times do %>
            <i class="far fa-star small "></i>
          <% end %>
        </p>
        <p><%= review.contents %></p>
        <p><%= review.booking.date_time.strftime('%A, %d %b') %></p>
      <% end %>
  </div>
  <div class="tab-card">
    <h3>Received Reviews <i class="fas fa-mail-bulk"></i></h3>
    <% @user.reviews_as_owner.each do |review| %>
      <div class="tab-content-separator"></div>
      <% num = review.rating.to_i %>
      <p>
        <% num.times do %>
          <i class="fas fa-star small "></i>
        <% end %>
        <% (5-num).times do %>
          <i class="far fa-star small "></i>
        <% end %>
      </p>
      <p><%= review.contents %></p>
      <p><%= review.booking.date_time.strftime('%A, %d %b') %></p>
    <% end %>
  </div>
</div>


<%# Bookings-tab HTML %>


<div id="tab-3-content">
  <div class="tab-card">
    <h3>Booking History <i class="fas fa-book"></i></h3>
    <% @user.bookings.each do |booking| %>
      <div class="tab-content-separator"></div>
      <p><%= booking.date_time.strftime('%A, %d %b') %></p>
      <p><%= booking.date_time.strftime('%l:%M %p') %> - <%=  (booking.date_time + booking.duration.minutes).strftime('%l:%M %p') %></p>
      <p><%= booking.plug.location%></p>
    <% end %>
  </div>
  <div class="tab-card">
    <h3>Plug Booking History <i class="fas fa-charging-station"></i></h3>
    <% @user.plugs.each do |plug| %>
      <% plug.bookings.each do |booking| %>
        <div class="tab-content-separator"></div>
        <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
        <p><%= booking.date_time.strftime('%A, %d %b') %></p>
        <p><%= booking.date_time.strftime('%l:%M %p') %> - <%=  (booking.date_time + booking.duration.minutes).strftime('%l:%M %p') %></p>
      <% end %>
    <% end %>
  </div>
</div>
