
<div id="profile_card">
    <div id="avatar_name">
      <div>
        <h2>
          <%= @user.first_name.upcase %>
          <br>
          <%= @user.last_name.upcase %>
        </h2>
      </div>
      <i class="fas fa-user-circle fa-4x"></i>
      <%# <img id="profile-picture"src="https://www.pinclipart.com/picdir/middle/148-1486972_mystery-man-avatar-circle-clipart.png" alt=""> %>
    </div>
    <div class="flexbox">
      <div>
        <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
        <p><i class="fas fa-phone"></i> +49 01575 8877956</p>
      </div>
      <i class="fas fa-cog tab-button edit-button" onclick="editProfile()"></i>
    </div>
  </div>


<div id="edit-profile-field" class="d-none">
  <%# <h2>Edit Profile</h2> %>
  <%# <p>NOTE: EVERY CHANGE REQUIRES CURRENT PASSWORD</p> %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%# <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :first_name,
                  required: false,
                  input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name,
                  required: false,
                  input_html: { autocomplete: "last_name" } %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>
    <div class="tab-content-separator"></div>
    <div class="submit-buttons">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <%# <h3>Cancel my account</h3> %>

  <%# <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete </p> %>
  <%# <%= link_to "Back", :back %>
</div>

<%# THE CURRENT BOOKING (IF USER HAS ONE IN THAT MOMENT) %>
<% @user.bookings.each do |booking| %>
  <% if booking.status == 0 %>
    <div class="current-booking">
      <h2>CURRENT BOOKING</h2>
      <div class="tab-content-separator"></div>
      <p><%= booking.created_at.strftime('%A, %d %b') %></p>
      <p>Started at <%= booking.created_at.strftime('%l:%M %p') %></p>
      <p><%= booking.plug.location%></p>
      <div class="tab-content-separator"></div>
      <p><%= link_to 'DETAILS', plug_booking_path(booking.plug, booking), style: "z-index:99999" %></p>
    </div>
  <% end %>
<% end %>



<%# THE TAB BUTTONS  %>

<div id="tab-headers">
  <%# <div id="tab-1" onclick="tabOne()">
    <h4>HOME</h4>
  </div> %>
  <div id="tab-3" onclick="tabThree()" class="select">
    <h4>BOOKINGS</h4>
  </div>
  <div id="tab-2" onclick="tabTwo()">
    <h4>REVIEWS</h4>
  </div>

</div>


<%# tab HTML's %>

<%# home tab HTML%>



<div id="tab-1-content">
  <%# <div class="tab-card">
    <h2>Latest booking</h2>  %>
    <%# inactive_bookings = @user.bookings.where("status = 1").first %>
    <%# unless inactive_bookings.empty? %>
      <%# <div class="tab-content-separator"></div> %>
      <p><%#= inactive_bookings[-1].created_at.strftime('%A, %d %b') %></p>
      <p><%#= inactive_bookings[-1].created_at.strftime('%l:%M %p') %> <%#=  (inactive_bookings[-1].created_at + (inactive_bookings[-1].duration / 60)).strftime('%l:%M %p') %></p>
      <p><%#= inactive_bookings[-1].plug.location%></p>
    <%# <p>Write Review + <i class="far fa-keyboard"></i></p> %>
    <%# else %>
      <%# <div class="tab-content-separator"></div>
      <p>No bookings yet</p> %>
      <p><%#= link_to 'Go to map', root_path, style: "z-index:99999" %></p>
    <%# end %>
  <%# </div> %>
</div>

<%# Reviewstab HTML %>
<% @recieved_as_owner = [] %>
<% @recieved_as_user = [] %>
<% @written_as_user = [] %>
<% @written_as_owner = [] %>

<div id="tab-2-content">
  <% if @user.reviews.last %>
    <div class="tab-card">
      <%# all the reviews the user has gotten %>
      <h3>REVIEWS RECEIVED <i class="fas fa-mail-bulk"></i></h3>
      <%# all the rewies the user has gotten as provider %>
      <% @user.bookings_as_owner.each do |booking| %>
        <% @recieved_as_owner << booking.reviews.where('review_type = 0').first %>
      <% end %>
      <% @recieved_as_owner.each do |review| %>
        <div class="tab-content-separator"></div>
        <%# the users review  %>
        <p>When <strong><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong> booked your charger</p>
        <%# the stars  %>
        <% num = review.rating %>
        <p>
          <% num.times do %>
            <i class="fas fa-star small "></i>
          <% end %>
          <% (5-num).times do %>
            <i class="far fa-star small "></i>
          <% end %>
        </p>
        <%# the content  %>
        <p>"<%= review.contents %>"</p>
      <% end %>
      <%# all the rewies the user has gotten as user %>
      <% @user.bookings.each do |booking| %>
        <% @recieved_as_user << booking.reviews.where('review_type = 1').first %>
      <% end %>
      <% @recieved_as_user.each do |review| %>
      <div class="tab-content-separator"></div>
        <p>You were booking <strong><%= review.booking.plug.user.first_name %> <%= review.booking.plug.user.last_name %></strong>'s charger</p>
        <%# the stars  %>
        <% num = review.rating %>
        <p>
          <% num.times do %>
            <i class="fas fa-star small "></i>
          <% end %>
          <% (5-num).times do %>
            <i class="far fa-star small "></i>
          <% end %>
        </p>
        <%# the content  %>
        <p>"<%= review.contents %>"</p>
      <% end %>
    </div>

    <%# all the reviews the user has written %>
    <div class="tab-card">
      <h3>REVIEWS GIVEN <i class="fas fa-paper-plane"></i></h3>

      <%# all the rewies the user has written as user %>
      <% @user.bookings.each do |booking| %>
        <% @written_as_user << booking.reviews.where('review_type = 0').first %>
      <% end %>
      <% @written_as_user.each do |review|  %>
        <div class="tab-content-separator"></div>
        <p>You were booking <strong><%= review.booking.plug.user.first_name %> <%= review.booking.plug.user.last_name %></strong>'s charger</p>
        <%# the stars  %>
        <% num = review.rating %>
        <p>
          <% num.times do %>
            <i class="fas fa-star small "></i>
          <% end %>
          <% (5-num).times do %>
            <i class="far fa-star small "></i>
          <% end %>
        </p>
        <%# the content  %>
        <p>"<%= review.contents %>"</p>
      <% end %>
      <%# all the rewies the user has written as provider %>
      <% @user.bookings_as_owner.each do |booking| %>
        <% @written_as_owner << booking.reviews.where('review_type = 0').first %>
      <% end %>
      <% @written_as_owner.each do |review| %>
        <div class="tab-content-separator"></div>
        <%# the users review  %>
        <p>When <strong><%= review.booking.user.first_name %> <%= review.booking.user.last_name %></strong> booked your charger</p>
        <%# the stars  %>
        <% num = review.rating %>
        <p>
          <% num.times do %>
            <i class="fas fa-star small "></i>
          <% end %>
          <% (5-num).times do %>
            <i class="far fa-star small "></i>
          <% end %>
        </p>
        <%# the content  %>
        <p>"<%= review.contents %>"</p>
      <% end %>
    </div>
  <% else %>
    <div class="tab-card">
      <div class="tab-content-separator"></div>
      <p>No bookings, no reviews!</p>
      <p><%= link_to 'Let\'s book', root_path, style: "z-index:99999"%></p>
    </div>
  <% end %>
</div>


<%# Bookings-tab HTML %>


<div id="tab-3-content"  class="select">
  <div class="tab-card">
    <h3>MY CHARGING HISTORY <i class="fas fa-book"></i></h3>
    <% unless @user.bookings.empty? %>
      <% @user.bookings.where("status = 1").each do |booking| %>
        <div class="tab-content-separator"></div>
        <p><%= booking.created_at.strftime('%A, %d %b') %></p>
        <p><%= booking.created_at.strftime('%l:%M %p') %> - <%=  (booking.created_at + booking.duration.seconds).strftime('%l:%M %p') %></p>
        <p><%= booking.plug.location%></p>
      <% end %>
    <% else %>
      <div class="tab-content-separator"></div>
      <p>No booking history yet!</p>
      <p><%= link_to 'Go to map', root_path, style: "z-index:99999" %></p>
    <% end %>
  </div>
  <div class="tab-card">
    <h3 class="mb-4">MY PLUG BOOKINGS <i class="fas fa-charging-station"></i></h3>
    <% if @user.plugs.last %>
      <% @user.plugs.each do |plug| %>
        <p><%= plug.location.upcase %></p>
        <% if plug.bookings.last %>
          <% plug.bookings.each do |booking| %>
            <div class="tab-content-separator"></div>
            <p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
            <p><%= booking.created_at.strftime('%A, %d %b') %></p>
            <p><%= booking.created_at.strftime('%l:%M %p') %> - <%=  (booking.created_at + booking.duration.minutes).strftime('%l:%M %p') %></p>
          <% end %>
        <% else %>
          <div class="tab-content-separator"></div>
          <p>Sorry, your plug wasn't booked yet...</p>
        <% end %>
      <% end %>
    <% else %>
      <div class="tab-content-separator"></div>
      <p>You haven't added a plug yet</p>
      <p><%= link_to 'Add plug', root_path, style: "z-index:99999" %></p>
    <% end %>
  </div>
</div>
