<div id="javadiv-menu" data-controller="menu-slider">
  <div id="menu" data-menu-slider-target="menu">
    <div class="content" data-menu-slider-target="menuText">
      <div>
        <h2>Charge<br>Sharing</h2>
        <div class="content-separator"></div>
        <%= link_to 'FIND CHARGER', root_path %>
        <br>
        <%= link_to 'MY PROFILE', edit_user_registration_path %>
        <br>
        <% if current_user %>
          <% if current_user.plugs.count == 1 %>
            <%= link_to 'MY CHARGER', edit_plug_path(current_user.plugs.last) %>
          <% elsif current_user.plugs.count > 1 %>
            <%= link_to 'MY CHARGERS', dashboard_path %>
          <% else %>
            <%= link_to 'ADD CHARGER', dashboard_path %>
          <% end %>
        <% end %>
        <br>
        <%= current_page?("/plugs/#{params[:plug_id]}/bookings/#{params[:id]}") %>
        <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "submit-button" %>
      </div>
      <div class="content-separator"></div>
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>

  <div>
    <% if current_page?("/plugs/#{params[:plug_id]}/bookings/#{params[:id]}") %>
      <div class="menu-button-container move-up" data-action="click->menu-slider#toggleMenu"
          data-menu-slider-target="button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    <% else %>
      <div class="menu-button-container" data-action="click->menu-slider#toggleMenu"
          data-menu-slider-target="button">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    <% end %>
  </div>

  <%# <div id="menu-content" data-menu-slider-target="menuContent">
    <h2>hello there</h2>
  </div> %>
</div>
