<div class="logo charger"><h2><%= @user.plugs.find(params[:id]).location %></h2></div>
<div class="charger-card show">
  <p><strong>Description:</strong> <%= @user.plugs.find(params[:id]).description %></p>
  <p><strong>Plug type:</strong> <%= @user.plugs.find(params[:id]).plug_type %></p>
  <p><strong>Cost:</strong> $<%= @user.plugs.find(params[:id]).fixed_cost_per_15_min %> per 15 minutes</p>
  <% if @user.plugs.find(params[:id]).availability == 1 %>
    <div class="tab-content-separator"></div>
    <p style="text-align:center;font-weight:bold" >CURRENTLY BOOKED</p>
  <% end %>
</div>
<% if @user.plugs.count > 1 %>
  <%= link_to dashboard_path do %>
    <div class="back-button" style="padding-right:3px;padding-bottom:2px"><i class="fas fa-angle-left"></i></div>
  <% end %>
<% else %>
  <%= link_to dashboard_path do %>
    <div class="back-button">+</div>
  <% end %>
<% end %>
