<div>
  <div class="logo">
    <h2>Order summary</h2>
  </div>
  <div class="tab-card-stop-booking" data-controller="new-review" data-new-review-seconds-value="<%= @review.booking.duration %>">
    <p id="duration-booking" data-new-review-target="duration">Duration : 00:00:00</p>
    <p>Cost : $<%= @review.booking.cost %></p>
    <button id="review-button" data-new-review-target="tab">Write Review + <i class="far fa-keyboard"></i></button>
    <div id="add-review" class="d-none" data-new-review-target="form">
      <%= simple_form_for [ @booking, @review ] do |f| %>
      <div class="form-inputs">
        <%= f.input :rating %>
        <%= f.input :contents %>
      </div>
      <div class="tab-content-separator"></div>
      <div class="submit-buttons">
        <%= f.button :submit, "Create" %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%# <%= link_to "Go back to Home", roots_path %>
  </div>
</div>

<script>

</script>
