<!DOCTYPE html>
<html>
  <head>
    <title>ChargeSharing - Book a charger for your Car</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('bolty.png') %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= render 'shared/menu' %>
    <div id="notmenu">
      <%= yield %>
    </div>



    <script>
      function tabOne() {
        // document.querySelector('#tab-1').classList.add("select");
        document.querySelector('#tab-2').classList.remove("select");
        document.querySelector('#tab-3').classList.remove("select");
        // document.querySelector('#tab-1-content').classList.add("select");
        document.querySelector('#tab-2-content').classList.remove("select");
        document.querySelector('#tab-3-content').classList.remove("select");
      }
      function tabTwo() {
        // document.querySelector('#tab-1').classList.remove("select");
        document.querySelector('#tab-2').classList.add("select");
        document.querySelector('#tab-3').classList.remove("select");
        // document.querySelector('#tab-1-content').classList.remove("select");
        document.querySelector('#tab-2-content').classList.add("select");
        document.querySelector('#tab-3-content').classList.remove("select");
      }
      function tabThree() {
        // document.querySelector('#tab-1').classList.remove("select");
        document.querySelector('#tab-2').classList.remove("select");
        document.querySelector('#tab-3').classList.add("select");
        // document.querySelector('#tab-1-content').classList.remove("select");
        document.querySelector('#tab-2-content').classList.remove("select");
        document.querySelector('#tab-3-content').classList.add("select");
      }
      function editProfile() {
        document.querySelector('.edit-button').classList.toggle("select");
        document.querySelector('#edit-profile-field').classList.toggle("d-none");
        // document.querySelector('#edit-profile-field').classList.toggle("hide");
      }
      function editPlug() {
        document.querySelector('.edit-button').classList.toggle("select");
        document.querySelector('.input-field').classList.toggle("d-none");
        // document.querySelector('#edit-profile-field').classList.toggle("hide");
      }
    </script>
  </body>
</html>
